<router-outlet></router-outlet>
<div class="screen-flex-vertical gap-2">
    <div class="d-flex justify-content-between">
        <label class="fw-bold fs-3 my-auto p-5">Depósitos</label>
        <img class="logo m-2" src="../../../assets/img/login/banquito.png" alt="Logo">
    </div>
<div class="screen-flex-horizontal gap-3">
  <img class="logo my-auto" src="../../../assets/img/login/banquito.png" alt="Logo">
  <div class="main-container">
    <div class="p-4 flex-grow-1" style="background-color: #DBD8D8;">
      <div class="container">
        <div class="row contenido my-3 rounded-4" #contenedor>

          <div class="col-12 py-3 p-5 card backgroung-card">
            <div class="text-center">
              <h4 class="lara-light mt-3">BANQUITO</h4>
              <br><br>
            </div>
            <div>
              <strong>APELLLIDOS Y NOMBRES:</strong>
              <br>
              <strong>IDENTIFICACION:</strong>
              <br>
              <br>
              <strong>Direccion:</strong>
              <strong style="margin-left: 30px;">TELF:</strong>
              <strong style="margin-left: 30px;">CORREO:</strong>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
